body {
    font-family: 'Microsoft JhengHei, Calibri, Roboto';
    background-color: rgb(244, 255, 255);
}

.set-center {
    min-height: 1px;
    text-align: center;
}

.field-table {
    border-collapse: separate;
    border-spacing: 5px 5px;
    width: 100%;
}