{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block layout %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layouts/portal.css') }}">
{% endblock %}

{% block scriptsex %}
    <script src={{ url_for('static', filename='scripts/user/login.js') }} type="text/javascript"></script>
{%- endblock %}

{% block titleex -%} Login {%- endblock %}

{% block content %}
<div class="container">
    {%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
    <div class="row">
        {{ utils.flashed_messages(messages) }}
    </div>
    {%- endif %}
    {%- endwith %}

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info set-center">
                <div class="panel-heading">
                    <span class="h3">Login Information</span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal formEnterSubmit" method="post"
                          action="{{ url_for("frontend_user.login_post") }}" id="submitLogin">
                        <table class="field-table">
                            <tbody>
                            <tr class="accountIDParent">
                                    <td>Account ID</td>
                                <td>
                                    <div class="has-feedback">
                                        <input class="form-control" type="text" name="accountID" pattern="\w{6,20}"
                                               placeholder="6~20 characters." required/>
                                        <i class="form-control-feedback glyphicon glyphicon-user"
                                           id="accountAvailable"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr id="accountRegister">
                                <td></td>
                                <td>Account ID not registered. Click <a href="{{ url_for("frontend_user.register") }}">HERE</a>
                                    to register
                                    one.
                                </td>
                                </tr>
                                <tr>
                                    <td>Password</td>
                                    <td><input class="form-control" type="password" name="accountPW" pattern="\w{6,20}" placeholder="6~20 characters." required /></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="set-right"><button type="submit" class="btn btn-info" id="submit">Login</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-success set-center">
                <div class="panel-heading">
                    <span class="h3">Account Management</span>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="{{ url_for("frontend_user.register") }}" class="list-group-item list-group-item-action set-center">Create Account</a>
                        <a href="{{ url_for("frontend_user.forget_password") }}"
                           class="list-group-item list-group-item-action set-center">Forgot Password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%- endblock %}


