{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block layout %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layouts/portal.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layouts/user/register.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
{% endblock %}

{% block scriptsex %}
<script src={{ url_for('static', filename='scripts/user/register.js') }} type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
{%- endblock %}

{% block titleex -%} Site User Registration {%- endblock %}

{% block content %}
<div class="container">
    {%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
    <div class="row">
        {{ utils.flashed_messages(messages) }}
    </div>
    {%- endif %}
    {%- endwith %}

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger hide" role="alert" id="errMissingFields">
                <div class="glyphicon glyphicon-remove-circle"></div>
                Missing Required Field: <span id="dataMissingFields"></span>
            </div>
        </div>
    </div>

    <form class="form-horizontal" method="post" action="{{ url_for("frontend_user.register_post") }}" id="submitNewUser">
        <input type="hidden" id="idType" name="idType_id">

        <input type="hidden" id="lang" name="lang_id" value="-1">
        <input type="hidden" id="carrier" name="carrier" value="-">

        <input type="hidden" id="notifSMS" name="notifSMS" value="0">
        <input type="hidden" id="notifEmail" name="notifEmail" value="0">
        <input type="hidden" id="notifManual" name="notifManual" value="0">


        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info set-center">
                    <div class="panel-heading">
                        <span class="h2">1</span><span class="h3"> - User type</span>
                    </div>
                    <div class="panel-body selection-panel">
                        {% for id, name in identityTypes %}
                        <button type="button" class="btn btn-danger idTypes" value="{{ id }}">{{ name }}</button>
                        {% endfor %}
                    </div>
                </div>
                <div class="panel panel-success set-center">
                    <div class="panel-heading">
                        <span class="h2">2</span><span class="h3"> - Account Information</span>
                    </div>
                    <div class="panel-body after-usertype">
                        <table class="field-table">
                            <tbody>
                                <tr id="account-id-parent">
                                    <td>Account ID</td>
                                    <td>
                                        <div class="has-feedback">
                                            <input class="form-control" type="text" name="accountID" pattern="\w{6,20}" placeholder="Enter 6~20 characters." required />
                                            <i class="form-control-feedback glyphicon glyphicon-user" id="accountIDstatus"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr id="accountIDrecov">
                                    <td></td>
                                    <td>Account ID already in use. Click <a href="{{ url_for("frontend_user.login") }}">here</a> to login, or click <a href="{{ url_for("frontend_user.forget_password") }}">here</a> to get back your account.</td>
                                </tr>
                                <tr>
                                    <td>Password</td>
                                    <td><input class="form-control" type="password" name="accountPW" pattern="\w{6,20}" placeholder="Enter 6~20 characters." required /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-warning set-center">
                    <div class="panel-heading">
                        <span class="h2">3</span><span class="h3"> - Additional Information</span>
                    </div>
                    <div class="panel-body after-usertype">
                        <table class="field-table">
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td><input class="form-control" type="text" name="accountName" required /></td>
                                </tr>
                                <tr class="student-only" id="student-id-parent">
                                    <td>SCC Student ID</td>
                                    <td>
                                        <div class="has-feedback">
                                            <input class="form-control" type="text" name="studentID" pattern="[0-9]{9}" required />
                                            <i class="form-control-feedback glyphicon glyphicon-user" id="studentIDstatus"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr id="studentIDrecov">
                                    <td></td>
                                    <td>Student ID already in use. Click <a href="{{ url_for("frontend_user.login") }}">here</a> to login, or click <a href="{{ url_for("frontend_user.forget_password") }}">here</a> to get back your account.</td>
                                </tr>
                                <tr>
                                    <td>Recovery Email</td>
                                    <td><input class="form-control" type="email" name="accountEmail" required /></td>
                                </tr>
                                <tr class="student-only" id="lang-parent">
                                    <td>Language</td>
                                    <td>
                                        <select class="selectpicker show-tick show-menu-arrow" data-live-search="true" data-live-normalize="true" id="langList" data-style="btn-warning" data-width="100%">
                                            <option selected data-tokens="-1">Select&nbsp;Language</option>
                                            {% for lang in langs %}
                                            <option data-tokens="{{ lang.name }}|{{ lang.id }}">{{ lang.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-danger set-center student-only">
                    <div class="panel-heading">
                        <span class="h2">4</span><span class="h3"> - Notification Preferences</span>
                    </div>
                    <div class="panel-body">
                        <table class="field-table">
                            <tbody>
                                <tr>
                                    <td>Methods</td>
                                    <td>
                                        <button type="button" class="btn btn-danger notif" data-input="notifSMS" data-type="phone">SMS</button>
                                        <button type="button" class="btn btn-danger notif" data-input="notifEmail" data-type="email">Email</button>
                                        <button type="button" class="btn btn-danger notif" data-input="notifManual" data-type="manual">Manual</button>
                                    </td>
                                </tr>

                                <tr class="phone-only">
                                    <td colspan="2"><hr /></td>
                                </tr>

                                <tr class="phone-only" id="phone-num">
                                    <td>Phone Number</td>
                                    <td><input class="form-control" type="tel" name="phoneNum" maxlength="10" pattern="[0-9]{10}" placeholder="Format: 2065464101" /></td>
                                </tr>
                                <tr class="phone-only" id="phone-carrier">
                                    <td>Phone Carrier</td>
                                    <td>
                                        <select class="selectpicker show-tick show-menu-arrow" data-live-search="true" data-live-normalize="true" id="carrierList" data-style="btn-warning" data-width="100%">
                                            <option selected data-tokens="-">Select a Phone Carrier</option>
                                            {% for phone_carrier in phone_carriers %}
                                            <option data-tokens="{{ phone_carrier }}">{{ phone_carrier }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>

                                <tr class="email-only">
                                    <td colspan="2"><hr /></td>
                                </tr>

                                <tr class="email-only" id="email-input">
                                    <td>Email</td>
                                    <td><input class="form-control" type="email" name="studentEmail" /></td>
                                </tr>

                                <tr class="manual-only">
                                    <td colspan="2"><hr /></td>
                                </tr>

                                <tr class="manual-only" id="manual-pron">
                                    <td>Name Pronunciation</td>
                                    <td><input class="form-control" type="text" name="namePron" /></td>
                                </tr>
                                <tr class="manual-only" id="manual-pron">
                                    <td></td>
                                    <td>Just try to describe as best as you can, for example: SHORE-LAI-N. If you really don't know, type "I don't know."</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success" id="submit">Register</button>
            </div>
        </div>
    </form>
</div>
{%- endblock %}
